{% extends 'base.html.twig' %}

{% block title %}Hello CustomerManagerController!
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Customer Management</h1>
		<p>Please complete the following form to create the customer account</p>
		{{ form_start(form) }}
		<div class="my-custom-class-for-errors">
			{{ form_errors(form) }}
		</div>
		<div class="form-group">
			{{ form_row(form.fullName) }}
		</div>

		<div class="form-group">
			{{ form_label(form.eid, null, {'label': 'External Customer ID',
											'label_attr': {'class': 'form-label'}
										}) }}
			{{ form_widget(form.eid, {'attr': {'class': 'form-control'}}) }}
			<small>{{ form_help(form.eid) }}</small>
			<div class="form-error">
				{{ form_errors(form.eid) }}
			</div>
		</div>


		<div class="form-group">
			{{ form_row(form.eMail) }}
		</div>
		<div class="form-group">
			{{ form_row(form.phone) }}
		</div>
		{{ form_row(form.submit, { 'label': 'Create new customer' }) }}
	</div>
	{{ form_end(form) }}
{# {{ form(form) }} #}
	{# <form action="{{ path('addCustomer') }}" method="post">
														<h4>Customer information:</h4>
														<label for="customerFullName">Full Name</label>
														<input type="text" name="customerFullName" id="customerFullName" class="form-control">
														<br>
										
														<label for="customerPhone">Phone</label>
														<input type="tel" name="customerPhone" id="customerPhone" class="form-control">
														<br>
										
														<label for="customerEmail">Email</label>
														<input type="email" name="customerEmail" id="customerEmail" class="form-control">
														<br>
										
														<input type="hidden" name="customerExternalId" value="">
										
														<input type="submit" value="Add Customer" class="btn btn-primary">
										
													</form> #}
</div></div>{% endblock %}
