{% extends 'base.html.twig' %}

{% block title %}Leads Manager
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Leads Management</h1>
		<p>Please complete the following form to create a new lead</p>

		{{ form_start(form) }}
		<div class="my-custom-class-for-errors">
			{{ form_errors(form) }}
		</div>
		<div class="form-group">
			{{ form_label(form.address) }}
			{{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
			<small>{{ form_help(form.address) }}</small>
			<div class="form-error">
				{{ form_errors(form.address) }}
			</div>
		</div>
		<div class="form-group">
			{{ form_label(form.city) }}
			{{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
			<small>{{ form_help(form.city) }}</small>
			<div class="form-error">
				{{ form_errors(form.city) }}
			</div>
		</div>
		<div class="form-group">
			{{ form_label(form.zipCode) }}
			{{ form_widget(form.zipCode, {'attr': {'class': 'form-control'}}) }}
			<small>{{ form_help(form.zipCode) }}</small>
			<div class="form-error">
				{{ form_errors(form.zipCode) }}
			</div>
		</div>
		<div class="form-group">
			{{ form_label(form.eID, null, {'label': 'Customer ID on DB',
											'label_attr': {'class': 'form-label'}
										}) }}
			{{ form_widget(form.eID, {'attr': { 'class': 'form-control', 'value': customerID }}) }}
			<small>{{ form_help(form.eID) }}</small>
			<div class="form-error">
				{{ form_errors(form.eID) }}
			</div>
		</div>
		<p class="customerData">
			Name: {{ customer.fullName }} | Email: {{ customer.email }} | Phone: {{ customer.phone }} | eID: {{ customer.eid }}
		</p>


		<div class="form-group">
			{{ form_label(form.companyDivision) }}
			{{ form_widget(form.companyDivision, {'attr': {'class': 'form-control'}}) }}
			<small>{{ form_help(form.companyDivision) }}</small>
			<div class="form-error">
				{{ form_errors(form.companyDivision) }}
			</div>
		</div>
		<div class="form-group">
			{{ form_label(form.leadStatus) }}
			{{ form_widget(form.leadStatus, {'attr': {'class': 'form-control'}}) }}
			<small>{{ form_help(form.leadStatus) }}</small>
			<div class="form-error">
				{{ form_errors(form.leadStatus) }}
			</div>
		</div>
		<div class="form-group">
			{{ form_label(form.saleAmount) }}
			{{ form_widget(form.saleAmount, {'attr': {'class': 'form-control'}}) }}
			<small>{{ form_help(form.saleAmount) }}</small>
			<div class="form-error">
				{{ form_errors(form.saleAmount) }}
			</div>
		</div>
		<div class="form-group">
			{{ form_label(form.salesperson) }}
			{{ form_widget(form.salesperson, {'attr': {'class': 'form-control'}}) }}
			<small>{{ form_help(form.salesperson) }}</small>
			<div class="form-error">
				{{ form_errors(form.salesperson) }}
			</div>
		</div>
		<div class="form-group">
			{{ form_label(form.leadSource) }}
			{{ form_widget(form.leadSource, {'attr': {'class': 'form-control'}}) }}
			<small>{{ form_help(form.leadSource) }}</small>
			<div class="form-error">
				{{ form_errors(form.leadSource) }}
			</div>
		</div>
		{{ form_row(form.submit, { 'label': 'Create new lead' }) }}
		{{ form_end(form) }}

	</div>
{% endblock %}
