{% extends 'base.html.twig' %}

{% block title %}Leads Manager
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>View Leads</h1>
		<a href="{{path('leadsManager')}}">Go Back</a>
		<div class="container-fluid">
			<div class="row">
				<div class="col col-sm-1">ID</div>
				<div class="col col-sm-1">eID</div>
				<div class="coll col-lg-3">Address</div>
				<div class="col col-md-2">City</div>
				<div class="col col-md-2">Zip Code</div>
				<div class="col col-sm-1">Division</div>
				<div class="col col-sm-1">Status</div>
				<div class="col col-md-2">Amount</div>
				<div class="col col-sm-1">Salesperson</div>
				<div class="col col-md-2">Source</div>
				<div class="col col-md-2">Date Modified</div>
				<div class="col col-md-2">Date Created</div>
			</div>


			{% for lead in leads %}
				<div class="row">
					<div class="col col-sm-">{{ lead.id }}</div>
					<div class="col col-sm-1">{{ lead.eid }}</div>
					<div class="coll col-lg-3">{{ lead.address }}</div>
					<div class="col">{{ lead.city }}</div>
					<div class="col">{{ lead.zipCode }}</div>
					<div class="col">{{ lead.companyDivision }}</div>
					<div class="col">{{ lead.leadStatus }}</div>
					<div class="col">{{ lead.saleAmount }}</div>
					<div class="col">{{ lead.salesperson }}</div>
					<div class="col">{{ lead.leadSource }}</div>
					<div class="col">{{ lead.eid }}</div>
					<div class="col">{{ lead.eid }}</div>
				</div>
			{% endfor %}
		</div>
	</table>
</div>{% endblock %}
